asgiref==3.7.2
astroid==3.1.0
dill==0.3.8
Django==5.0.3
isort==5.13.2
mccabe==0.7.0
model-mommy==2.0.0
pillow==10.2.0
platformdirs==4.2.0
pylint==3.1.0
python-decouple==3.8
sqlparse==0.4.4
tomli==2.0.1
tomlkit==0.12.4
typing_extensions==4.10.0
