{% extends 'index.html' %}
{% load static %}
{% block content %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Conheça e expanda seus negócios com softwares </h1>
                <h2 data-aos="fade-up" data-aos-delay="400">que abrangem as necessidades do mercado, inovadores,
                    que te auxiliam na tomada de decisão, que te levaram a conhecer melhor o negocio, otimizando custos
                    e prevendo faturamentos.</h2>
                <div data-aos="fade-up" data-aos-delay="800">
                    <a href="#about" class="btn-get-started scrollto">Veja mais</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
            </div>
        </div>
    </div>

</section>

<main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients clients">
        <div class="container">

            <div class="row">

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="{% static 'assets/img/school/next-3.png' %}" class="img-fluid" alt="" data-aos="zoom-in">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="{% static 'assets/img/school/next-3.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
                        data-aos-delay="100">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="{% static 'assets/img/school/next-3.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
                        data-aos-delay="200">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="{% static 'assets/img/school/lfgroup-4.png' %}" class="img-fluid" alt=""
                        data-aos="zoom-in" data-aos-delay="300">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="{% static 'assets/img/school/recode-5.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
                        data-aos-delay="400">
                </div>

                <div class="col-lg-2 col-md-4 col-6">
                    <img src="{% static 'assets/img/school/uf-6.png' %}" class="img-fluid" alt="" data-aos="zoom-in"
                        data-aos-delay="500">
                </div>

            </div>

        </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Sobre Mim</h2>
            </div>

            <div class="row content">
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
                    <p>
                        Transformo ideias em negócio, principalmente nos setores de
                    </p>
                    <ul>
                        <li><i class="ri-check-double-line"></i> Agrotecnologia </li>
                        <li><i class="ri-check-double-line"></i> Tecnologia Educacional </li>
                        <li><i class="ri-check-double-line"></i> Transporte Inteligente </li>
                    </ul>
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <p>
                        Desenvolvedor de sistemas desde 2017, eu sou conhecido na rede como Neto, alguém que gosta de
                        estudar tecnologia e colocá-la em prática para transformar, divulgar e expandir negócios e
                        marcas. Durante minha trajetória de aprendizado como todo estudante que vive entre cidades eu
                        comecei a enxergar e resolver problemas que são facilmente resolvidos apenas pela divulgação da
                        informação, pensando nisso criei o tecsanja.
                    <ul>
                        <li><i class="ri-check-double-line"></i> Um site sedoso, onde é divulgado projetos.</li>
                        <li><i class="ri-check-double-line"></i> Onde forneço informações sobre tecnologia e eventos
                            atuais via blog.</li>
                        <li><i class="ri-check-double-line"></i> Onde é divulgado parceiros e serviços.</li>
                    </ul>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container">

            <div class="row">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
                    data-aos="fade-right" data-aos-delay="150">
                    <img src="{% static 'assets/img/counts-img.svg' %}" alt="" class="img-fluid">
                </div>

                <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
                    <div class="content d-flex flex-column justify-content-center">
                        <div class="row">
                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-emoji-smile"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="4"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Clientes Satisfeitos</strong>, sou
                                        relativamente novo no mercado.</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-journal-richtext"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="31"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Projetos</strong>, envolvendo stacks com Python e Javascript que cobrem
                                        todas as plataformas e a maioria dos SOs. </p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-clock"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="6"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Anos de Experiência</strong>, 5 anos de experiências
                                        no setor acadêmico,incluindo 1 de hospital, 1 ano como Trainee</p>
                                </div>
                            </div>

                            <div class="col-md-6 d-md-flex align-items-md-stretch">
                                <div class="count-box">
                                    <i class="bi bi-award"></i>
                                    <span data-purecounter-start="0" data-purecounter-end="3"
                                        data-purecounter-duration="1" class="purecounter"></span>
                                    <p><strong>Hackathon</strong> 3x finalista de Hackathon</p>
                                </div>
                            </div>
                        </div>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section>

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>SERVIÇOS</h2>
                <p>Uma ampla gama de serviços que incluem desde desenvolvimento até manutenções.</p>
            </div>

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bxl-dribbble"></i></div>
                        <h4 class="title"><a href="">Cobertura de campeonatos regionais</a></h4>
                        <p class="description">Informação sobre os principais acontecimentos nos campeonatos em
                            andamento na região</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="bx bx-file"></i></div>
                        <h4 class="title"><a href="">Automatização de documentos</a></h4>
                        <p class="description">Criação e automatização de documentos padronizados</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="bx bx-tachometer"></i></div>
                        <h4 class="title"><a href="">Intalações e Manutenção</a></h4>
                        <p class="description">Fazemos manutenções, corrigindo bugs e acrescentando novas
                            funcionalidades.</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="bx bx-world"></i></div>
                        <h4 class="title"><a href="">Aplicações Web</a></h4>
                        <p class="description">Aplicações web focadas na resolução de problemas distintos e com
                            integrações para outras plataformas</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>CARACTERÍSTICAS</h2>
                <p>Focados em</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="300">
                <div class="col-lg-3 col-md-4">
                    <div class="icon-box">
                        <i class="ri-store-line" style="color: #ffbb2c"></i>
                        <h3><a href="">Venda</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="ri-bar-chart-box-line" style="color: #5578ff"></i>
                        <h3><a href="">Relatorios</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
                    <div class="icon-box">
                        <i class="ri-calendar-todo-line" style="color: #e80368"></i>
                        <h3><a href="">Gestão de Horários</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
                    <div class="icon-box">
                        <i class="ri-paint-brush-line" style="color: #e361ff"></i>
                        <h3><a href="">Bootstrap Themes</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-database-2-line" style="color: #47aeff"></i>
                        <h3><a href="">Banco de dados SQL</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-gradienter-line" style="color: #ffa76e"></i>
                        <h3><a href="">CI/CD</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
                        <h3><a href="">Documentos</a></h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 mt-4">
                    <div class="icon-box">
                        <i class="ri-price-tag-2-line" style="color: #4233ff;"></i>
                        <h3><a href="">Testes</a></h3>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">
            <div class="section-title" data-aos="fade-up">
                <h2>DEPOIMENTOS</h2>
                <p>Magnam dolores commodi suscipit eum quidem consectetur velit</p>
            </div>

            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Saul Goodman</h3>
                                <h4>Ceo &amp; Founder</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Proin iaculis purus consequat sem cure digni ssim donec porttitora entum
                                    suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et.
                                    Maecen aliquam, risus at semper.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Sara Wilsson</h3>
                                <h4>Designer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Export tempor illum tamen malis malis eram quae irure esse labore quem cillum
                                    quid cillum eram malis quorum velit fore eram velit sunt aliqua noster fugiat
                                    irure amet legam anim culpa.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Jena Karlis</h3>
                                <h4>Store Owner</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem
                                    veniam duis minim tempor labore quem eram duis noster aute amet eram fore quis
                                    sint minim.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>Matt Brandon</h3>
                                <h4>Freelancer</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim
                                    fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore
                                    quem dolore labore illum veniam.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <div class="testimonial-item">
                                <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %}"
                                    class="testimonial-img" alt="">
                                <h3>John Larson</h3>
                                <h4>Entrepreneur</h4>
                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor
                                    noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam
                                    esse veniam culpa fore nisi cillum quid.
                                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                                </p>
                            </div>
                        </div>
                    </div><!-- End testimonial item -->

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="portfolio-flters">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">App</li>
                        <li data-filter=".filter-card">Card</li>
                        <li data-filter=".filter-web">Web</li>
                    </ul>
                </div>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

                {% for projeto in projetos %}
                    <div class="col-lg-4 col-md-6 portfolio-item {{ projeto.category }}">
                        <div class="portfolio-wrap">
                            <img src="{{ projeto.imagem.url }}" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>{{ projeto.titulo }}</h4>
                                <p>{{ projeto.category }}</p>
                                <div class="portfolio-links">
                                    <a href="{{ projeto.imagem.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Aplicação"></a>
                                    <a href="{{ projeto.link_do_github }}" target="_blank" title="Mais Detalhes"><i class="bx bx-link"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>EQUIPE</h2>
                <p>Por enquanto só tem minha pessoa</p>
            </div>

            <div class="row">
                <!-- imagem card -->
                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="https://scontent.fmvf4-1.fna.fbcdn.net/v/t1.6435-1/83741394_108776094009108_2607991793823776768_n.jpg?stp=c0.7.200.200a_dst-jpg_p200x200&_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_ohc=K4XHAEwE7ogAX_5JSMF&_nc_ht=scontent.fmvf4-1.fna&oh=00_AfBpwsM3mn-fNF0ZONw_pLEJlixzlETrwWQ8AEbwtV9TnA&oe=661FE50E"
                                class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Clodoaldo Neto</h4>
                            <span>Develop | Admin do site</span>
                        </div>
                    </div>
                </div>
                <!-- fimimagem card -->
            </div>

        </div>
    </section>

    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>PERGUNTAS FREQUENTES</h2>
            </div>

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-5">
                    <i class="ri-question-line"></i>
                    <h4>Quando vai disponibilizar videos dos minicursos ensinando a utilizar suas Ferramentas?</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Assim que terminar as gravações dos mesmos, serão disponibilizados via plataforma.
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-5">
                    <i class="ri-question-line"></i>
                    <h4>Quando vai disponibilizar o cadastro de usuarios na plataforma?</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Já temos cadastro porém ao cadastrar-se você inicia sem nenhuma permissão.
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

            <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <div class="col-lg-5">
                    <i class="ri-question-line"></i>
                    <h4>Teremos sistema de pagamento via pix nas Apis ?</h4>
                </div>
                <div class="col-lg-7">
                    <p>
                        Sim, será utilizado integração com api de pagamentos Efí, é que utilizo e também deve ser uma
                        das que tem menor taxa de cobrança no mercado.
                    </p>
                </div>
            </div><!-- End F.A.Q Item-->

        </div>

        </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title" data-aos="fade-up">
                <h2>CONTATE-NOS</h2>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                    <div class="contact-about">
                        <h3>TecSanja</h3>
                        <p> Conhecer profundamente seu negocio é como desvendar um tesouro: cada detalhe revela uma
                            parte do seu potencial, inspirando-nos a alcançar novos patamares de excelência e
                            inovação.</p>
                        <div class="social-links">
                            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="info">
                        <div>
                            <i class="ri-map-pin-line"></i>
                            <p>Em algum lugar entre<br>Caicó / São João do Sabugi, RN</p>
                        </div>

                        <div>
                            <i class="ri-mail-send-line"></i>
                            <p>info@example.com</p>
                        </div>

                        <div>
                            <i class="ri-phone-line"></i>
                            <p>+55 (99) 99999999</p>
                        </div>

                    </div>
                </div>

                <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
                    <form class="d-flex flex-column" action="{% url 'home' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group my-1">
                            <input type="text" name="nome" class="form-control" id="name" placeholder="Seu Nome"
                                required>
                        </div>
                        <div class="form-group my-1">
                            <input type="text" name="cidade" class="form-control" id="name" placeholder="Cidade"
                                required>
                        </div>
                        <div class="form-group my-1">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email"
                                required>
                        </div>
                        <div class="form-group my-1">
                            <input type="text" class="form-control" name="telefone" id="subject" placeholder="Telefone"
                                required>
                        </div>
                        <div class="form-group my-3">
                            <textarea class="form-control" name="descricao" rows="5" placeholder="Mensagem"
                                required></textarea>
                        </div>
                        <div class="text-center"><button class="btn btn-outline-primary py-1" type="submit">Enviar
                                Mensagem</button></div>
                    </form>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock content %}