<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <div class="logo">
            <h1><a href="{% url 'home' %}">TecSanja</a></h1>
        </div>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'home'%}#about">Sobre</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home'%}#services">Serviços</a></li>
                <li><a class="nav-link scrollto " href="{% url 'home'%}#portfolio">Portfólio</a></li>
                <li><a class="nav-link scrollto" href="{% url 'blog' %}">Blog</a></li>
                <li><a class="nav-link scrollto" href="{% url 'home'%}#contact">Contato</a></li>
                {% if request.path == '/' %}
                    <li><a class="getstarted scrollto btn py-1" href="/contas/login">login</a></li>
                {% endif %}
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>